.card-container {
  height: 500px;
  width: 900px;

  perspective: 3000px;
}

.card {
  height: 100%;
  width: 100%;

  transform-style: preserve-3d;

  position: relative;

  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);

  transition: transform 500ms;
}

.card-back,
.card-front {
  height: 100%;
  width: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front {
  padding: 20px;
}

.card-front-pattern {
  height: 100%;
  width: 100%;

  background-color: #1e293b;
  background-image: repeating-linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 60px
    ),
    repeating-linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 60px
    ),
    linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1)
    ),
    linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1)
    );
  background-size: 70px 120px;
}

.card-back {
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

/*
 * 設定翻轉後的卡片背面的 z-index 比 front 高，這樣背面的內容才能被選取或點擊
 */
.flip .card-back {
  z-index: 1;
}
